USE [CLINICA]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERMISOS]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERMISOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PERMISO] [char](1) NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PERMISO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HORARIOS]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HORA_ABRE] [int] NOT NULL,
	[HORA_CIERRA] [int] NOT NULL,
	[HORA_CORTE] [int] NULL,
	[HORA_CORTE_FIN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[HORA_ABRE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[HORA_CIERRA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESPECIALIDADES]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESPECIALIDADES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIAS]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COBERTURAS_MEDICAS]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COBERTURAS_MEDICAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](40) NOT NULL,
	[PASS] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_TEL]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_TEL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TELEFONO]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONO](
	[NUMERO] [int] NOT NULL,
	[TIPO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANES]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PLANES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[ID_COBERTURA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOCALIDAD]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOCALIDAD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[ID_PROVINCIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONSULTORIOS]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONSULTORIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CALLE] [varchar](40) NOT NULL,
	[ID_LOCALIDAD] [int] NOT NULL,
	[ID_HORARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CALLE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PACIENTES]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PACIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](60) NOT NULL,
	[APELLIDO] [varchar](60) NOT NULL,
	[DNI] [int] NOT NULL,
	[CALLE] [varchar](60) NULL,
	[ID_LOCALIDAD] [int] NOT NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
	[PISO] [int] NULL,
	[DEPARTAMENTO] [varchar](5) NULL,
	[CP] [int] NULL,
	[MAIL] [varchar](60) NOT NULL,
	[FECHA_INGRESO] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAIL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROFESIONALES]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROFESIONALES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[APELLIDO] [varchar](40) NOT NULL,
	[DNI] [int] NOT NULL,
	[CALLE] [varchar](60) NULL,
	[ID_LOCALIDAD] [int] NULL,
	[MAIL] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAIL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ATENCION]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ATENCION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_PACIENTE] [int] NOT NULL,
	[ID_PROFESIONAL] [int] NOT NULL,
	[INDICACION] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TURNOS]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PACIENTE] [int] NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
	[ID_PROFESIONAL] [int] NOT NULL,
	[FECHA_TURNO] [date] NOT NULL,
	[FECHA_SOLICITUD] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESIONALES_TELEFONOS]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESIONALES_TELEFONOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROFESIONALES] [int] NOT NULL,
	[NUMERO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESIONALES_ESPECIALIDADES]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESIONALES_ESPECIALIDADES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROFESIONAL] [int] NOT NULL,
	[ID_ESPECIALIDAD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTE_TELEFONOS]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTE_TELEFONOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PACIENTE] [int] NOT NULL,
	[NUMERO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERNACIONES]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INTERNACIONES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PACIENTE] [int] NOT NULL,
	[DIAGNOSTICO] [varchar](200) NOT NULL,
	[OBSERVACION_ALTA] [varchar](200) NULL,
	[ID_ESPECIALIDAD] [int] NOT NULL,
	[ID_DERIVADOR] [int] NOT NULL,
	[ENTRADA] [date] NOT NULL,
	[SALIDA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COBERTURA_PACIENTES]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COBERTURA_PACIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO_CREDENCIAL] [int] NOT NULL,
	[ID_PACIENTE] [int] NOT NULL,
	[ID_PLAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CANCELACIONES]    Script Date: 05/02/2018 10:25:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CANCELACIONES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[COMENTARIO] [varchar](80) NULL,
	[ID_TURNO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Check [CK__HORARIOS__15502E78]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[HORARIOS]  WITH CHECK ADD CHECK  (([HORA_ABRE]<[HORA_CIERRA]))
GO
/****** Object:  Check [CK__HORARIOS__164452B1]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[HORARIOS]  WITH CHECK ADD CHECK  (([HORA_CORTE]<[HORA_CORTE_FIN]))
GO
/****** Object:  Check [CK__HORARIOS__173876EA]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[HORARIOS]  WITH CHECK ADD CHECK  (([HORA_ABRE]<[HORA_CORTE] AND [HORA_CIERRA]>[HORA_CORTE_FIN]))
GO
/****** Object:  ForeignKey [FK__ATENCION__ID_PAC__66603565]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[ATENCION]  WITH CHECK ADD FOREIGN KEY([ID_PACIENTE])
REFERENCES [dbo].[PACIENTES] ([ID])
GO
/****** Object:  ForeignKey [FK__ATENCION__ID_PRO__6754599E]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[ATENCION]  WITH CHECK ADD FOREIGN KEY([ID_PROFESIONAL])
REFERENCES [dbo].[PROFESIONALES] ([ID])
GO
/****** Object:  ForeignKey [FK__CANCELACI__ID_TU__32AB8735]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[CANCELACIONES]  WITH CHECK ADD FOREIGN KEY([ID_TURNO])
REFERENCES [dbo].[TURNOS] ([ID])
GO
/****** Object:  ForeignKey [ID_USUARIO]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[CANCELACIONES]  WITH CHECK ADD  CONSTRAINT [ID_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[CANCELACIONES] CHECK CONSTRAINT [ID_USUARIO]
GO
/****** Object:  ForeignKey [FK__COBERTURA__ID_PA__395884C4]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[COBERTURA_PACIENTES]  WITH CHECK ADD FOREIGN KEY([ID_PACIENTE])
REFERENCES [dbo].[PACIENTES] ([ID])
GO
/****** Object:  ForeignKey [FK__COBERTURA__ID_PL__3A4CA8FD]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[COBERTURA_PACIENTES]  WITH CHECK ADD FOREIGN KEY([ID_PLAN])
REFERENCES [dbo].[PLANES] ([ID])
GO
/****** Object:  ForeignKey [FK__CONSULTOR__ID_HO__2F10007B]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[CONSULTORIOS]  WITH CHECK ADD FOREIGN KEY([ID_HORARIO])
REFERENCES [dbo].[HORARIOS] ([ID])
GO
/****** Object:  ForeignKey [FK__CONSULTOR__ID_LO__2E1BDC42]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[CONSULTORIOS]  WITH CHECK ADD FOREIGN KEY([ID_LOCALIDAD])
REFERENCES [dbo].[LOCALIDAD] ([ID])
GO
/****** Object:  ForeignKey [FK__INTERNACI__ID_DE__619B8048]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[INTERNACIONES]  WITH CHECK ADD FOREIGN KEY([ID_DERIVADOR])
REFERENCES [dbo].[PROFESIONALES] ([ID])
GO
/****** Object:  ForeignKey [FK__INTERNACI__ID_ES__60A75C0F]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[INTERNACIONES]  WITH CHECK ADD FOREIGN KEY([ID_ESPECIALIDAD])
REFERENCES [dbo].[ESPECIALIDADES] ([ID])
GO
/****** Object:  ForeignKey [FK__INTERNACI__ID_PA__5FB337D6]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[INTERNACIONES]  WITH CHECK ADD FOREIGN KEY([ID_PACIENTE])
REFERENCES [dbo].[PACIENTES] ([ID])
GO
/****** Object:  ForeignKey [FK__LOCALIDAD__ID_PR__0DAF0CB0]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[LOCALIDAD]  WITH CHECK ADD FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[PROVINCIA] ([ID])
GO
/****** Object:  ForeignKey [FK__PACIENTE___ID_PA__44CA3770]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[PACIENTE_TELEFONOS]  WITH CHECK ADD FOREIGN KEY([ID_PACIENTE])
REFERENCES [dbo].[PACIENTES] ([ID])
GO
/****** Object:  ForeignKey [FK__PACIENTE___NUMER__45BE5BA9]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[PACIENTE_TELEFONOS]  WITH CHECK ADD FOREIGN KEY([NUMERO])
REFERENCES [dbo].[TELEFONO] ([NUMERO])
GO
/****** Object:  ForeignKey [FK__PACIENTES__ID_LO__5AEE82B9]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[PACIENTES]  WITH CHECK ADD FOREIGN KEY([ID_LOCALIDAD])
REFERENCES [dbo].[LOCALIDAD] ([ID])
GO
/****** Object:  ForeignKey [FK__PLANES__ID_COBER__3493CFA7]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[PLANES]  WITH CHECK ADD FOREIGN KEY([ID_COBERTURA])
REFERENCES [dbo].[COBERTURAS_MEDICAS] ([ID])
GO
/****** Object:  ForeignKey [FK__PROFESION__ID_LO__5165187F]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[PROFESIONALES]  WITH CHECK ADD FOREIGN KEY([ID_LOCALIDAD])
REFERENCES [dbo].[LOCALIDAD] ([ID])
GO
/****** Object:  ForeignKey [FK__PROFESION__ID_ES__51300E55]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[PROFESIONALES_ESPECIALIDADES]  WITH CHECK ADD FOREIGN KEY([ID_ESPECIALIDAD])
REFERENCES [dbo].[ESPECIALIDADES] ([ID])
GO
/****** Object:  ForeignKey [FK__PROFESION__ID_PR__503BEA1C]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[PROFESIONALES_ESPECIALIDADES]  WITH CHECK ADD FOREIGN KEY([ID_PROFESIONAL])
REFERENCES [dbo].[PROFESIONALES] ([ID])
GO
/****** Object:  ForeignKey [FK__PROFESION__ID_PR__4A8310C6]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[PROFESIONALES_TELEFONOS]  WITH CHECK ADD FOREIGN KEY([ID_PROFESIONALES])
REFERENCES [dbo].[PROFESIONALES] ([ID])
GO
/****** Object:  ForeignKey [FK__PROFESION__NUMER__4B7734FF]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[PROFESIONALES_TELEFONOS]  WITH CHECK ADD FOREIGN KEY([NUMERO])
REFERENCES [dbo].[TELEFONO] ([NUMERO])
GO
/****** Object:  ForeignKey [FK__TELEFONO__TIPO__0519C6AF]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[TELEFONO]  WITH CHECK ADD FOREIGN KEY([TIPO])
REFERENCES [dbo].[TIPO_TEL] ([ID])
GO
/****** Object:  ForeignKey [FK__TURNOS__ID_ESTAD__7E37BEF6]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[TURNOS]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
/****** Object:  ForeignKey [FK__TURNOS__ID_PACIE__7D439ABD]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[TURNOS]  WITH CHECK ADD FOREIGN KEY([ID_PACIENTE])
REFERENCES [dbo].[PACIENTES] ([ID])
GO
/****** Object:  ForeignKey [FK__TURNOS__ID_PROFE__7F2BE32F]    Script Date: 05/02/2018 10:25:06 ******/
ALTER TABLE [dbo].[TURNOS]  WITH CHECK ADD FOREIGN KEY([ID_PROFESIONAL])
REFERENCES [dbo].[PROFESIONALES] ([ID])
GO
