@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clinica</h1>
    <p class="lead">Clinicas Nack! es el mejor lugar para cuidar de su salud.</p>
    <p><a href="https://vimeo.com/user2261267" class="btn btn-primary btn-lg">Conozca mas de Nack!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Turnos</h2>
        <p>
            Reserve su turno para la especialidad que necesite. Sea atendido por 
            profesionales de primera talla en todos los campos de la medicina moderna
        </p>
        <p class="btn btn-default">@Html.ActionLink("Turno", "Index" , "Turno")</p>
    </div>
    
</div>